.title{
	font-size: 250%;
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgbaa(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5));
	line-height: 10px;
}

.form-control{
	place-items: center;
	border-color: #222;
	width: 25%;
	margin-left: 700px;
	cursor: pointer;
}

.form-control::-webkit-input-placeholder{
	color: #222;
}

.form-control::-moz-placeholder{
	color: #222;
}

.form-control:-ms-input-placeholder{
	color: #222;
}

.form-control::-ms-input-placeholder{
	color: #222;
}

.form-control::placeholder{
	color: #222;
}

.form .submit{
	background: #ff5722;
	border-color: #222;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit::hover{
	background-color: #f44336;
	cursor: pointer;
}

@media (max-width: 1024px) {
  .title{
		line-height: 20px;
	}
	.form-control{
		margin-left: 20px;
		width: 90%;
	}
}