.navbar-brand img{
    max-height: 40px;
    background-color: #D7ACE2;
}

h4{
    font-family: serif;
}

.banniere{
	height: 6em;
}

.attention{
    text-align: center;
}

.pdp {
	width: 150px;
	border-radius: 50px;
	margin-left: 1%;
}

.presentation {
	margin-left: 2px;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

header{
	background-image: url('../img/banniere.jpg');
	height: 260px;
}

h4{
	color: white;
}

.bureau{
	border-radius: 5%;
	height: 450px;
}

.Wrapper{
	position: relative;
	width: 100%;
	color: #000000;
}

p{
margin: 0;
}

#ct_46790833 .Block_Wrapper {
    background-color: #D7ACE2;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
}

#ct_46790832 .Block_Wrapper {
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

strong {
    font-weight: bold;
}

img, svg {
    vertical-align: middle;
    width: 2%;
}

.logo{
    width: 13%;
}

@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  scroll-behavior: smooth;
}

.container {
  padding: 50px 5%;
}

.title {
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  color: #222;
}

.title-2 {
  font-size: 50px;
  font-weight: 600;
  color: #222;
}

.title-3 {
  font-size: 30px;
  font-weight: 600;
  color: #222;
}

.title-4 {
  font-size: 15px;
  font-weight: 500;
  color: #222;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #aaa;
  line-height: 35px;
}

.subtitle-2 {
  font-size: 15px;
  font-weight: 400;
  color: #aaa;
  line-height: 15px;
}

.button {
  display: inline-block;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  padding: 15px 25px 12px;
  border-radius: 60px;
  font-size: 20px;
  transition: background 0.4s, color 0.4s;
}


.cards {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

.cards .card {
  flex: 1;
  min-width: 280px;
  margin: 50px;
  padding: 30px;
  border-radius: 30px;
  transition: box-shadow 0.4s, transform 0.4s;
}

.cards .card:hover {
  box-shadow: 30 30 40px rgb(0, 0, 0);
}

.cards .card > img {
  width: 30%;
}

.cards .card > .title-3,
.cards .card > .subtitle {
  margin-top: 20px;
}

.cards .card header {
  display: flex;
  align-items: center;
}

.cards .card header img {
  width: 60px;
  border-radius: 50%;
}

.cards .card header div {
  margin-left: 20px;
}

.cards .card header div p {
  line-height: 20px;
}

.cards .card > .subtitle {
  margin-top: 20px;
}

.cards .card .stars {
  display: flex;
  margin-top: 20px;
  color: #f29838;
}

.cards .card .stars h3 {
  margin-left: 10px;
}

.img{
	width: 1900px;
}

.card:hover{
    box-shadow: 10px 5px 5px #D5D5D5;
}


@media (max-width: 1024px) {
  .title {
    font-size: 50px;
    line-height: 60px;
  }
}